.entry.removeable.unevented
  %p.name== (#{entry.human_time}) <strong>#{h entry.input}</strong> #{delete_entry(entry.id)}
  %ul
    - entry.entry_matches.each do |match|
      = render :partial => match
