.entry
  %p.name=h entry.input
  %ul
    - entry.entry_matches.each do |match|
      %li
        == <span class="in-place-edit" id="edit-amount-#{match.id}">#{match.humanize_amount}</span> of #{match.food_item.name rescue "err"}
        <script type="text/javascript">bind_editors();</script>