#thequestion
  %h3 What are you eating?

  - form_for(@entry, :position => 'top') do |f| 
    = f.error_messages
    <img src="/images/loading.gif" class="loading" style="display:none;" alt="Loading"/>
    = f.text_field :input, :class=>"text", :value=>"Four Pan-Galactic Gargle Blasters", :style=>"color:#999"

%h3 Recent Entries
  #recent
    %br
    - @recent.each do |entry|
      = render :partial => entry
