%p
  %strong Input:
  =h @entry.input

- @entry.entry_matches.each do |match|
  %p
    %strong Match: 
    = match.search
    %br/
    = match.food_item.name rescue "err"
    %br/
    = match.amount rescue "err"
    %br/
    = match.unit rescue "err"

