/* line 19, ../../../../../../../neufelry/.multiruby/install/1.8.7-p72/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
body body { text-align: center; }
/* line 32, ../../../../../../../neufelry/.multiruby/install/1.8.7-p72/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
* html body body legend { margin: 0px -8px 16px 0; padding: 0; }
/* line 36, ../../../../../../../neufelry/.multiruby/install/1.8.7-p72/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
html>body body p code { *white-space: normal; }
/* line 40, ../../../../../../../neufelry/.multiruby/install/1.8.7-p72/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
body .container { text-align: left; }
/* line 42, ../../../../../../../neufelry/.multiruby/install/1.8.7-p72/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
body ol { margin-left: 2em; }
/* line 44, ../../../../../../../neufelry/.multiruby/install/1.8.7-p72/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
body sup { vertical-align: text-top; }
/* line 46, ../../../../../../../neufelry/.multiruby/install/1.8.7-p72/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
body sub { vertical-align: text-bottom; }
/* line 48, ../../../../../../../neufelry/.multiruby/install/1.8.7-p72/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
body hr { margin: -8px auto 11px; }
/* line 50, ../../../../../../../neufelry/.multiruby/install/1.8.7-p72/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
body fieldset { padding-top: 0; }
