%h4
  iBoflavin is the easy way to keep track of what you eat. 

%h4 Simple
%p 
  [pic]
  Tell iBoflavin what you ate, using whatever words come to mind, and we'll figure the rest out.

%h4 Quick
%p 
  [pic]
  Posting something you ate is as simple as one text box. iBoflavin can usually guess what you mean.

%h4 Intelligent
%p
  [pic]
  If iBoflavin makes a mistake, you can teach it by correcting it, and it won't do the same thing again.

%h4 Mobile
%p
  [pic]
  Posting on-the-go is easy too! Just download the iPhone app, install a dashboard widget, or tweet @iboflavin.

%br/
= link_to((image_tag 'twitter-auth.png'), twitter_login_url)
%br/
== #{link_to 'Log in', login_path} | #{link_to 'Sign up', register_path}

