%h4
  iBoflavin lets you keep track of what you are eating, and how it fits into your daily recommended intake -- from home, or on the go.

%h2 What else is iBoflavin? iBoflavin is...

%h4 Easy
%p 
  [pic]
  iBoflavin lets you tell it like it is. No need for complex searches or [--something else tedious--]. Just type what you've eaten and let iBoflavin figure out the rest.

%h4 Quick
%p 
  [pic]
  iBoflavin does something else so it is really easy. Its mostly right, but when its wrong and you can correct it in a snap.

%h4 For Home
%p
  [pic]
  Something about design makes iBoflavin really stand out. No clutter, no fuss - just nutrition. Mmmm, tasty nutrition.

%h4 and on the go
%p
  [pic]
  Granted not everyone eats in front of their computers like we do we figured you should be able to use iBoflavin on the go. Tweet at @iboflavin and we'll handle the rest.

%h4 A Community
%p
  [pic]
  If you're passionate about nutrition you may want to help other users. By correcting you're inputs and adding missing foods you gain [MG] of iBoflavin - buying you premium service and other schwag.

%br/
= link_to((image_tag 'twitter-auth.png'), twitter_login_url)
%br/
== #{link_to 'Log in', login_path} | #{link_to 'Sign up', register_path}

