#thequestion
  %h3 What are you eating?

  = form_tag :controller => 'static', :action=>"add"
  <input name="input" type="text" class="text" value="Four Pan-Galactic Gargle Blasters" style="color:#999" />
  </form>

%h3 So far today, you've had...