#thequestion
  %h3 What are you eating?

  <form action="#" method="get">
  <input type="text" class="text" value="Four Pan-Galactic Gargle Blasters" style="color:#999" />
  </form>

%h3 So far today, you've had...