Calories Today<br/>
<span class="dietgoal">#{@calories_today||0}/2000</span><br/>
Riboflavin Today<br/>
<span class="dietgoal">#{@b2_today||0}<span class="unit">mg</span>/#{@b2_total}<span class="unit">mg</span></span><br/>
<a href="/goals">Change Diet Goals</a>
