%h1 Login
-# e8f9f9
<iframe src="https://iboflavin.rpxnow.com/openid/embed?background_color=%23e8f9f9&color=%23444444&token_url=#{rpx_login_url}" scrolling="no" frameBorder="no" style="width:326px;height:200px;border:1px dotted #999;padding:3px 6px 3px 6px"></iframe>

-# <% form_for @user_session, :url => user_session_path do |f| %>
-#   <%= f.error_messages %>
-#   <%= f.label :login %><br />
-#   <%= f.text_field :login %><br />
-#   <br />
-#   <%= f.label :password %><br />
-#   <%= f.password_field :password %><br />
-#   <br />
-#   <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
-#   <br />
-#   <%= f.submit "Login" %>
-# <% end %>
